/* #startbtn {

} */

.btn--orange {
  width: 200px;
  height: 60px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 100px auto;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
}
.btn--orange:hover {
  margin-top: 103px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

table {
  margin: 10px auto;
}

td.card {
  width: 80px;
  height: 120px;
  margin: 2px;
  background-size: cover;
}

td.card.back {
  background-image: url(images/z01.gif) !important; 
  /* 最優先 */
}

td.open {
  pointer-events: none;
}

.match {
  visibility: hidden;
  pointer-events: none;
}
#time {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 1px 1px 1px #555, -1px 1px 1px #555, 1px -1px 1px #555, -1px -1px 1px #555, 5px 5px #9ccc65;
}

.textboard {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  font-size: 1.2rem;
  color: #FFF;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #FFF inset;
  background-color: rgba(0,0,0,0.9);
}
#result {
  width: 96%;
  margin: 2%;
  white-space: pre;
  overflow: hidden;
  -webkit-animation: ozDq 3s steps(70, end) ;
  /* プロパティは順に name, duration, timing-function です */
  }
#result:after {
  content: '▶';
  -webkit-animation: ozPulse 1s infinite ease;
  /* プロパティは順に name, duration, iteration-count, timing-function です */
}
@-webkit-keyframes ozDq { from { width: 0; } } /* 開始地点の指定 */
@-moz-keyframes ozDq { from { width: 0 } }
@-webkit-keyframes ozPulse { { /* 透明度の指定 */
  from { opacity: 1; }
  to { opacity: 0; }
} }
@-moz-keyframes ozPulse {
from { opacity: 1; }
to { opacity: 0; }
}
